/******General*********/
* {
  font-family: "Raleway", sans-serif;
}
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --color-button: #d9d9d9;
  --color-background: #fff;
  --color-police: #000;
}
.fa-solid {
  color: var(--main-color);
}
body {
  display: flex;
  justify-content: center;
}
/*Partie header*/
.logobooki {
  width: 60px;
  height: 25px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
nav a {
  margin-left: 30px;
  color: var(--color-police);
}
nav a:hover {
  border-top: solid 2px var(--main-color);
  color: var(--main-color);
  padding-top: 15px;
}
/*Partie infogroup regroupant plusieurs éléments*/
.infogroupbar {
  margin-top: 40px;
}
/*Partie searchBar bar de recherche*/
.renseignement {
  font-weight: lighter;
  font-size: medium;
}
.logoposition {
  width: 50px;
  height: 25px;
  padding: 15px 16px 15px 16px;
  border: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--main-bg-color);
}
form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.textesearch {
  width: 180px;
  height: 49px;
  text-align: center;
  border: 1px;
  font-family: "Raleway";
}
.buttonresearch {
  width: 132px;
  height: 49px;
  border: 1px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--main-color);
  color: var(--color-background);
  font-size: large;
}
::placeholder {
  color: var(--color-police);
  font-size: 18px;
  font-weight: bold;
}
.buttonloupe {
  display: none;
}
/*Partie Filterbar bouton des filtres*/
.filterBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 750px;
  height: 50px;
}
.filterBarContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.buttonfilterbar {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-background);
  border-radius: 1.5em;
  border-color: var(--color-button);
  width: 150px;
  height: 45px;
  font-size: medium;
  padding: 10px 12px 10px 12px;
  margin-right: 20px;
}
.buttonfilterbar:hover {
  background-color: var(--filter-bg-color);
}
/*Partie Infobar i avec le cercle*/
.cercleinfo {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: solid var(--color-button) 1px;
  margin-right: 10px;
}
.infoBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 750px;
  height: 50px;
}
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.section-title {
  margin: 0;
  font-size: 22px;
}
.card {
  background-color: var(--color-background);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
  object-fit: cover;
}
.card-title {
  font-size: 16px;
}
.card-content {
  justify-content: space-between;
}
.euro {
  font-weight: 700;
}
.neutral-star {
  color: var(--main-bg-color);
}
/****** Hebergements et Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
.hebergements-and-populaires a:hover {
  text-decoration: none;
}
/****** Hebergements ***********/
.hebergements {
  width: 65%;
}
.cardh {
  margin-right: 5px;
  margin-left: 5px;
  background-color: var(--color-background);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 25px;
  width: 240px;
  height: 200px;
  margin-bottom: 10px;
  position: inherit;
}
.cardh img {
  width: 100%;
  height: 115px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.directionrowcolumn1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content 190px 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
}
.hebergements-cards {
  padding-right: 1px;
  margin-top: 8px;
}
.hebergements-cards .card-contenth {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 10px;
}
.cardh-txt {
  height: 50px;
}
.cardh-title {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: medium;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
  margin: 0;
}
.populaires-cards .card-rating {
  margin-bottom: 5px;
}
.Affiche {
  padding-top: 35px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--color-police);
}
/*section activites avec des cartes activités*/
.cardc {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 439px;
  background-color: var(--color-background);
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 30px;
}
.cardc img {
  width: 100%;
  height: 389px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.activites-title {
  margin-top: 50px;
  margin-left: 15px;
  margin-bottom: 4px;
  padding-left: 8px;
}
.content-activites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 5px;
}
.content-activites a:hover {
  text-decoration: none;
}
.card-txtc {
  padding-left: 20px;
}
/*section footer avec les 3 colonnes*/
footer {
  margin-top: 50px;
  padding-right: 250px;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer-content {
  flex-direction: column;
}
.footer-content a:hover {
  text-decoration: none;
}
.list {
  margin-right: 25px;
}
h5 {
  font-size: 1.1em;
  justify-content: start;
  padding-left: 20px;
  margin-bottom: 5px;
}
ul {
  justify-content: flex-start;
  padding-left: 20px;
}
li {
  list-style: none;
  padding-bottom: 10px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767px) and (max-width: 1024px) {
  .body {
    width: 100%;
  }
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column;
  }
  .hebergements {
    width: 100%;
  }
  .populaires {
    width: 100%;
    margin-top: 15px;
  }
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .populaires-cards .card {
    width: 80%;
  }
  .populaires-cards .card-title {
    font-size: 12px;
  }
  .populaires-cards .card-subtitle {
    font-size: 11px;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .main-container {
    margin: 0;
    padding: 0;
  }
  /*header*/

  nav a:hover {
    border-top: 0;
    text-decoration: underline var(--main-color);
  }
  a:hover {
    text-decoration-color: var(--main-color);
    text-underline-offset: 1.5em;
  }
  nav img {
    width: 61px;
    height: 19px;
    padding: 10px 0;
    margin-bottom: 5px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px #d9d9d9;
    padding-bottom: 20px;
    width: 100%;
  }
  nav a {
    font-size: medium;
    text-align: center;
  }
  /*section infogroupbar*/
  .infogroupbar {
    width: 100%;
  }
  .textinfo,
  .renseignement {
    font-size: 15px;
    margin-top: 0;
    text-align: center;
  }

  .infogroupbar form .positionsearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .infogroupbar form .logoposition {
    width: 20px;
    height: 25px;
  }
  .infogroupbar form .buttonloupe {
    display: block;
    background-color: var(--main-color);
    border-radius: 20px;
    width: 50px;
    height: 49px;
    padding-left: 1px;
    padding-bottom: 1px;
    margin-right: 1px;
  }
  .infogroupbar form i.fa-solid.fa-magnifying-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    color: var(--color-background);
    font-size: 17px;
    background-color: transparent;
    border-radius: 15px;
    padding-bottom: 8px;
  }
  .infogroupbar form .buttonresearch {
    display: none;
  }
  .filterBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }
  /*.filterBarContent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-bottom: 15px;
  }*/
  .buttonfilterbar {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-background);
    border-radius: 2em;
    border-color: var(--main-bg-color);
    width: 130px;
    height: 50px;
    font-size: small;
    padding: 12px 14px 12px 14px;
    padding-top: 15px;
    margin-top: 10px;
  }
  /*.filterBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .filterBarContent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
  .buttonfilterbar {
    margin-top: 25px;
  }*/
  /*section hebergements*/
  .hebergements {
    width: 100%;
  }
  .hebergements .directionrowcolumn1 {
    display: flex;
    flex-direction: column;
  }

  .hebergements-cards .cardh img {
    max-width: 100%;
  }
  /*section populaires*/
  *.populaires {
    width: 100%;
  }

  /*les deux*/
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }
  .hebergements-and-populaires section {
    border-radius: 0px;
  }
  .hebergements-and-populaires section.hebergements {
    background-color: transparent;
  }
  /*section activite*/
  .content-activites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  /*footer*/
  footer {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    margin-top: 10px;
  }
}
