/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --color-button: #d9d9d9;
  --color-background: #fff;
  --color-police: #000;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}
/*Partie header*/
.logobooki {
  width: 60px;
  height: 25px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
nav a {
  margin-left: 30px;
  color: var(--color-police);
}
nav a:hover {
  border-top: solid 2px var(--main-color);
  color: var(--main-color);
  padding-top: 15px;
}
/*Partie infogroup*/
.infogroupbar {
  margin-top: 40px;
}
/*Partie searchBar*/
.renseignement {
  font-weight: lighter;
  font-size: medium;
}
.logoposition {
  width: 50px;
  height: 25px;
  padding: 15px 16px 15px 16px;
  border: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--main-bg-color);
}
form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.textesearch {
  width: 180px;
  height: 49px;
  text-align: center;
  border: 1px;
  font-family: "Raleway";
}

.buttonresearch {
  width: 132px;
  height: 49px;
  border: 1px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--main-color);
  color: var(--color-background);
  font-size: large;
}
::placeholder {
  color: var(--color-police);
  font-size: 18px;
  font-weight: bold;
}

.buttonloupe {
  display: none;
}
/*Partie Filterbar*/
.filterBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 750px;
  height: 50px;
}
.filterBarContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.buttonfilterbar {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-background);
  border-radius: 1.5em;
  border-color: var(--color-button);
  width: 150px;
  height: 45px;
  font-size: medium;
  padding: 10px 12px 10px 12px;
  margin-right: 20px;
}
.buttonfilterbar:hover {
  background-color: var(--filter-bg-color);
}
/*Partie Infobar*/
.cercleinfo {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: solid var(--color-button) 1px;
  margin-right: 10px;
}
.infoBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 750px;
  height: 50px;
}
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: var(--color-background);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}
.card-content {
  justify-content: space-between;
}
.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
.hebergements-and-populaires a:hover {
  text-decoration: none;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}
.cardh {
  margin-right: 5px;
  margin-left: 5px;
  background-color: var(--color-background);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 25px;
  width: 240px;
  height: 200px;
  margin-bottom: 10px;
  position: inherit;
}
.cardh img {
  width: 100%;
  height: 115px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.directionrowcolumn1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content 190px 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
}
.hebergements-cards {
  padding-right: 1px;
  margin-top: 8px;
}
.hebergements-cards .card-contenth {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 10px;
}
.cardh-txt {
  height: 50px;
}
.cardh-title {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: medium;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.Affiche {
  padding-top: 35px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--color-police);
}
/*section activites*/
.cardc {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 439px;
  background-color: var(--color-background);
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 30px;
}
.cardc img {
  width: 100%;
  height: 389px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.activites-title {
  margin-top: 50px;
  margin-left: 15px;
  margin-bottom: 4px;
  padding-left: 8px;
}
.content-activites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 5px;
}
.content-activites a:hover {
  text-decoration: none;
}
.card-txtc {
  padding-left: 20px;
}
/*section footer*/
footer {
  margin-top: 50px;
  padding-right: 250px;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer-content {
  flex-direction: column;
}
.footer-content a:hover {
  text-decoration: none;
}
.list {
  margin-right: 25px;
}
h5 {
  font-size: 1.1em;
  justify-content: start;
  padding-left: 20px;
  margin-bottom: 5px;
}
ul {
  justify-content: flex-start;
  padding-left: 20px;
}
li {
  list-style: none;
  padding-bottom: 10px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767px) and (max-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
  }
  .main-container {
    margin-left: 15px;
    margin-right: 5px;
  }

  header {
    margin-top: -10px;
  }
  /*Partie header*/
  .logobooki {
    width: 20px;
    height: 10px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav a {
    margin-left: 15px;
    color: var(--color-police);
    font-size: 6px;
  }

  nav a:hover {
    border-top: solid 1px var(--main-color);
    color: var(--main-color);
    padding-top: 5px;
  }
  /*infogroup*/
  /*Partie infogroup*/
  .infogroupbar {
    margin-top: 15px;
  }
  /*Partie searchBar*/
  .renseignement {
    font-weight: lighter;
    font-size: 6px;
  }
  .textinfo {
    font-size: 8px;
  }

  .logoposition {
    width: 30px;
    height: 15px;
    padding: 5px 6px 5px 6px;
    padding-left: 2px;
    border: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--main-bg-color);
  }
  label img {
    width: 11px;
    height: 11px;
    padding-left: 6px;
  }
  form {
    margin-top: 20px;
  }
  .textesearch {
    width: 100px;
    height: 25px;
    text-align: center;
    border: 1px;
    font-family: "Raleway";
    margin-left: 10px;
  }

  .buttonresearch {
    width: 70px;
    height: 25px;
    border: 1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--main-color);
    color: var(--color-background);
    font-size: 8px;
  }
  ::placeholder {
    color: var(--color-police);
    font-size: 10px;
    font-weight: bold;
  }

  .buttonloupe {
    display: none;
  }
  /*infogroup*/

  /****section filtrebar****/
  .titlefiltrebar,
  .filterBarContent {
    margin: 0;
    padding: 0;
    padding-left: 2px;
  }
  .titlefiltrebar {
    font-size: 10px;
  }
  .filterBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10%;
    height: 25px;
  }
  .filterbar,
  .filterBarContent {
    margin: 0;
    padding: 0;
  }
  .filterBarContent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
    margin-left: -10px;
    width: 15%;
  }
  .buttonfilterbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 2em;
    border-color: var(--main-bg-color);
    width: 200px;
    height: 20px;
    font-size: 6px;
    margin-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 4px;
  }
  .fa-money-bill-wave,
  .fa-person,
  .fa-heart,
  .fa-fire {
    margin-right: 2px;
  }
  .buttonfilterbar:hover {
    background-color: var(--filter-bg-color);
  }
  /*infogroupbar*/
  /*infobar*/
  .cercleinfo {
    text-align: center;
    width: 15px;
    height: 10px;
    border-radius: 10px;
    border: solid #d9d9d9 1px;
    margin-right: 10px;
    padding-top: 3px;
  }
  .infoBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -10px;
    width: 400px;
    height: 60px;
    font-size: 8px;
  }
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column;
  }
  /*****SECTION HEBERGEMENTS*****/
  .hebergements,
  .section-title {
    margin-top: -5px;
  }
  .section-title {
    font-size: 8px;
    padding-top: -100px;
  }
  .hebergements {
    width: 100%;
    height: 230px;
  }
  .cardh {
    margin-right: -10px;
    margin-left: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 1px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top: 5px;
    width: 80px;
    height: 60px;
    margin-bottom: 10px;
  }
  .cardh img {
    width: 100%;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  .directionrowcolumn1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content 130px 1fr 1fr;
    column-gap: 20px;
    row-gap: 5px;
  }
  .hebergements-cards {
    padding-right: 1px;
    margin-top: 4px;
  }
  .hebergements-cards .cardh {
    margin-left: -5px;
  }

  .cardh-txt {
    height: 20px;
    size: 10px;
  }
  .cardh-title {
    height: 5px;
    margin-top: -9px;
    margin-bottom: 4px;
    font-size: 6px;
    margin-left: -6px;
  }
  .cardh-subtitle {
    font-size: 6px;
    height: 15px;
    margin-left: -6px;
  }
  .card-rating {
    font-size: 5px;
    margin-left: -5px;
  }
  .Affiche {
    margin-top: -100px;
    margin-left: -5px;
    font-size: 6px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: var(--color-police);
  }

  /*********SECTION POPULAIRES************/
  .populaires,
  .populaires-title {
    margin-top: -15px;
  }
  .populaires-title {
    margin-left: -15px;
  }
  .populaires-title,
  .populaires-cards {
    margin-top: -15px;
  }
  .populaires {
    width: 100%;
    height: 120px;
    margin-top: 15px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card-title {
    font-size: 6px;
  }

  .populaires-cards .card-subtitle {
    font-size: 6px;
  }

  .populaires-cards img {
    width: 33%;
    height: 50px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .card {
    width: 85px;
    height: 50px;
    margin-left: -22px;
    margin-right: 28px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .card-content {
    font-size: 5px;
    margin-left: -9px;
    margin-top: -9px;
    margin-bottom: 15px;
  }
  .fa-star {
    margin-left: 4px;
    margin-top: 2px;
  }

  /*section activites*/
  .activites-title,
  .content-activites {
    margin-bottom: 2px;
  }
  .activites-title {
    margin-top: 15px;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 10px;
  }
  .content-activites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    padding-left: 10px;
  }
  .cardc {
    width: 300px;
    min-height: 80px;
    border-radius: 15px;
    padding-top: -2px;
  }
  .cardc img {
    width: 100%;
    height: 50px;
    object-fit: cover;
  }
  .card-txtc {
    font-size: 6px;
    margin-left: -15px;
  }
  footer {
    margin-top: 25px;
    margin-left: -15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /*width: %;*/
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-content a:hover {
    text-decoration: none;
  }
  .list {
    font-size: 6px;
  }
  h5 {
    font-size: 6px;
    justify-content: start;
    padding-left: 25px;
    margin-bottom: 5px;
  }
  ul {
    justify-content: flex-start;
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    margin: 0;
  }

  nav a:hover {
    border-top: 0;
    padding-top: 15px;
    text-decoration: underline var(--main-color);
  }
  a:hover {
    text-decoration-color: var(--main-color);
    text-underline-offset: 1.5em;
  }
  nav img {
    width: 61px;
    height: 19px;
    padding: 30px 0;
    padding-top: 5px;
    margin-left: 18px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 2px #d9d9d9;
    padding-bottom: 20px;
    width: 145%;
  }
  nav a {
    font-size: medium;
    margin-right: 40px;
  }
  .renseignement {
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: small;
    width: 135%;
  }
  h1 {
    width: 135%;
    margin-bottom: 10px;
    font-size: medium;
    text-align: center;
  }
  h1,
  .renseignement {
    margin: 0;
    padding: 0;
    margin-top: 1px;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 12px;
  }
  .renseignement,
  .positionsearch {
    margin-bottom: 30px;
  }

  .infogroupbar form .search {
    margin-right: 8px;
  }
  .infogroupbar form .positionsearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 90px;
  }
  .infogroupbar form .logoposition {
    width: 20px;
    height: 25px;
    padding: 16px 16px 16px 16px;
    border: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--main-bg-color);
  }
  .infogroupbar form .textesearch {
    text-align: center;
    border: 1px;
    font-family: "Raleway";
    width: 360px;
  }
  .infogroupbar form .input {
    width: 100%;
    height: 20%;
  }
  .infogroupbar form ::placeholder {
    color: var(--color-police);
    font-size: 16px;
    font-weight: bold;
  }
  .infogroupbar form .buttonloupe {
    display: block;
    background-color: var(--main-color);
    border-radius: 20px;
    width: 50px;
    height: 49px;
    padding-left: 1px;
    padding-bottom: 1px;
    margin-right: 1px;
  }
  .infogroupbar form i.fa-solid.fa-magnifying-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    color: var(--color-background);
    font-size: 17px;
    background-color: transparent;
    border-radius: 15px;
    padding-bottom: 8px;
  }
  .infogroupbar form .buttonresearch {
    display: none;
  }

  .titlefiltrebar {
    margin-left: 80px;
  }
  .positionsearch,
  .titlefiltrebar {
    margin: 0;
    padding: 0;
  }

  .filterBar,
  .filterBarContent {
    margin: 0;
    padding: 0;
  }
  .filterBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    height: 1000%;
    margin-left: 12px;
  }
  .filterBarContent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
  .buttonfilterbar {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-background);
    border-radius: 2em;
    border-color: var(--main-bg-color);
    width: 130px;
    height: 50px;
    font-size: small;
    padding: 12px 14px 12px 14px;
    padding-top: 15px;
    margin-top: 10px;
  }
  .buttonfilterbar:hover {
    background-color: var(--filter-bg-color);
  }
  .cercleinfo {
    width: 30px;
    height: 20px;
    border-radius: 20px;
    border: solid var(--color-button) 1px;
    margin-right: 10px;
    padding-top: 3px;
    margin-left: 15px;
  }
  .infoBar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 135%;
    height: 35%;
    font-size: small;
  }
  */
/**section hebergements**/
.section-title {
    display: flex;
    justify-content: flex-start;
    font-size: medium;
  }

  .hebergements {
    width: 100%;
    font-size: medium;
  }

  .hebergements-cards .cardh {
    width: 100%;
    font-size: small;
  }
  .hebergements .directionrowcolumn1 {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
  }

  .cardh {
    width: 50%;
    height: 50%;
    margin-right: 30px;
  }
  .cardh img {
    width: 100%;
    height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  .cardh-title {
    font-size: 13px;
    font-weight: bold;
  }

  /**section populaires**/
  .populaires {
    width: 100%;
    margin: 0;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
    font-size: small;
    width: 100%;
  }
  .populaires-cards .card {
    width: 100%;
    margin-right: 30px;
  }
  .populaires-cards img {
    width: 30%;
    height: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .populaires-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: bold;
  }
  /**sections hebergements and populaires**/
  .hebergements-and-populaires {
    width: 146%;
    display: flex;
    flex-direction: column-reverse;
  }
  .hebergements-and-populaires section {
    border-radius: 0px;
  }
  .hebergements-and-populaires section.hebergements {
    background-color: transparent;
  }
  .Affiche {
    padding-top: 5px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
  }
  .hebergements-and-populaires section,
  .activites-title {
    margin-top: 15px;
  }
  .activites-title,
  .content-activites {
    margin-bottom: 15px;
  }
  .activites-title {
    padding-left: 15px;
    font-size: large;
  }
  .card-txtc {
    padding-left: 20px;
    margin-bottom: 12px;
  }
  .content-activites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 40px;
    width: 145%;
  }
  .cardc {
    border: 1px solid transparent;
    width: 85%;
    min-height: 115px;
    background-color: var(--color-background);
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: -15px;
  }
  .cardc img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  footer {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    margin-top: 10px;
    width: 100%;
  }
  .list {
    justify-content: center;
    width: 100%;
    padding: 40px;
    padding-top: 15px;
    flex-direction: row;
    margin: 0;
  }
  h5 {
    font-size: medium;
    justify-content: start;
    padding-left: 40px;
    padding-top: 20px;
    width: 100%;
    height: 15px;
  }
  h5,
  .list {
    margin-top: 0;
    margin-bottom: 0;
  }
}
